.profile {
  display: flex;
  justify-content: left;
  padding: 0px 40px 0px 40px;
  min-height: 100vh;
}
.profile__sidebar {
  max-height: 56px;
  gap: 16px;
  margin-right: 65px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  font-family: "Cabinet Grotesk Bold", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 24.8px;
  color: black;
  width: 229px;
}
.profile__sidebar-user-info {
  max-width: 229px;
  width: 100%;
  align-items: center;
  margin-bottom: 16px;
  display: flex;
}
.profile__sidebar-username {
  margin: 0 12px 0 16px;
  width: 170px;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  font-style: normal;
  color: rgba(0, 0, 0, 1);
}
.profile__sidebar-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  background-color: #5a6f8d;
  color: white;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}

.profile__sidebar-user-avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.profile__sidebar-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile__sidebar-button {
  border: none;
  background-color: transparent;
  font-family: "Cabinet Grotesk Bold", Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-top: 8px;
  cursor: pointer;
  padding: 0;
}

/* 
.profile__heading {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
  height: 56px;
}

.profile__image {
  width: 56px;
  height: 56px;
  padding-right: 20px;
}

/* 
.profile__sidebar::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.3) 50%,
    rgba(0, 0, 0, 0.1)
  );
} */
/* 
.profile__name {
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  width: 170px;
  text-align: center;
  flex-wrap: nowrap;
}

.profile__title {
  margin: 0;
  color: #000;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
}

.profile__add_button {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  background: #fff;
  cursor: pointer;
  padding-left: 20px;
}

.profile__add_button:hover {
  color: rgb(0, 0, 0, 0.5);
} */
