.item-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}
.item-modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.item-modal__container {
  max-width: 498px;
  max-height: 610px;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: white;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.item-modal__close-button-white {
  background-image: url(../../images/Modal-Close-Button-white.svg);
  position: absolute;
  top: 20px;
  right: 28px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
}
.item-modal__image-preview {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 498px;
  height: 498px;
  object-fit: cover;
}
.item-modal__footer {
  font-family: "CabinetGrotesk", Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin-left: 6px;
  font-size: 20px;
}
.item-modal__item-name {
  font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  margin-top: 20px;
  margin-left: 32px;
}
.item-modal__weather-type {
  font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  margin-left: 32px;
  margin-top: 12px;
  margin-bottom: 32px;
  position: absolute;
  margin-top: 60px;
  font-weight: 700;
}
.item-modal__delete-button {
  font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
  color: red;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  max-height: 24px;
  font-size: 20px;
  margin-top: 20px;
  margin-right: 32px;
}
.item-modal__delete-button_hidden {
  display: none;
}
